/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.radio-button:hover {
    -fx-font-size: 14;
    
}

#onLogin{
	-fx-background-color: #407bff;
	-fx-text-fill: white;
	-fx-background-radius: 15;
	-fx-border-radius: 15;
}

#onLogin:hover{
	-fx-background-color: #F6F6F8;
	-fx-text-fill: #407bff;
	-fx-background-radius: 15;
	-fx-border-radius: 15;
}




