/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.radio-button:hover {
    -fx-font-size: 14;
    
}

#onLogin{
	-fx-background-color: #407bff;
	-fx-text-fill: white;
	-fx-background-radius: 10;
	
	
}
#btn2{
	
	-fx-text-fill: #407bff;
	-fx-background-radius: 9;
	-fx-border-radius: 100;
	-fx-border-color: #435560;
	
}
#lbl2{
	-fx-font-size: 24;
	-fx-font-family:  "Times New Roman";
	
}



